page-banking {

.colorfont{
	color:#7631c1 ;
}

.radiusbutton{
	border-radius: 30px;
	width: 50px;
	height:50px;
    background-color:#7631c1 ;
    margin-left:2em;
    padding:1em;

    
}
.radiusbutton2{
	border-radius: 30px;
	width: 50px;
	height:50px;
    background-color:#7631c1 ;
    margin-left:2em;
    padding:1em;

    
}
.radiusbutton3{
	border-radius: 30px;
	width: 50px;
	height:50px;
    background-color:#7631c1 ;
    margin-left:2em;
    padding:1em;

    
}
.icon{
	font-size:30px;
    color: white;
}
.bottons{
	botton:10em;
}
.centertop{
	margin-left:9.5em;
	margin-top:-13.57em;

}
.centerbotton{
	margin-left:9.5em;
	margin-top:1em;

}
.righttop{
	margin-left:18.5em;
	margin-top:-13.57em;
}
.rightbotton{
	margin-left:18.5em;
	margin-top:1em;
}

.bottons{
	margin-top:29.57em;
	
}

ion-content{
	background: url("../BGbanking2.png") no-repeat center;
}
}
