page-home {




.photoProfile{
	position: absolute;
	border-radius: 40px;
	height: 5.3em;
    width: 5.3em;
    bottom:35.0em;
    margin-left:0.5em;
}

.welcome{
	position: absolute;
	color:black;
	bottom:39.0em;
	margin-left:6.5em;
	font-size:14px;
	color:6E6E6E;
}

.username{
	position: absolute;
	color:black;
	bottom:37.3em;
	margin-left:6.6em;
	font-size:14px;
	color:6E6E6E;

}


.location{
	position: absolute;
	color:black;
	bottom:35.6em;
	height: 1.0em;
    width: 1.0em;
	margin-left:6.5em;
	font-size:14px;
}
.locationname{
	position: absolute;
	color:black;
	bottom:35.5em;
	margin-left:7.6em;
	font-size:14px;
}


.imgbgPF{
	
	height: 11em;
    width: 100em;
    margin-left:-1.2em;
	position: absolute;
    margin-top:-1.1em;
    margin-bottom:5.0em;


}
.payfamily{
	position: absolute;
	height: 8.8em;
    width: 8.8em;
    margin-left:-1.2em;
    bottom:20.4em;
    top:11.2em;

}
.mobileAndInternet{
	position: absolute;
	height: 8.8em;
    width: 8.8em;
    margin-left:7.79em;
    bottom:20.4em;
    top:11.2em;
}
.bankingServices{
	position: absolute;
	height: 8.8em;
    width: 8.8em;
    margin-left:16.7em;
    bottom:20.4em;
    top:11.2em;
}




.easypass{
	position: absolute;
	height: 8.8em;
    width: 8.8em;
    margin-left:-1.2em;
    bottom:20.4em;
    top:20.2em;

}
.utilities{
	position: absolute;
	height: 8.8em;
    width: 8.8em;
    margin-left:7.79em;
    bottom:20.4em;
    top:20.2em;
}
.prompay{
	position: absolute;
	height: 8.8em;
    width: 8.8em;
    margin-left:16.7em;
    bottom:20.4em;
    top:20.2em;
}


.easybonus{
	position: absolute;
	top:29.2em;
	margin-left:-1.13em;
}



.registerprompay{
	position: absolute;
	top:38.1em;
	margin-left:-1.13em;
	height: 7.9em;
    width: 18.1em;
}
.music{
	position: absolute;
	top:38.1em;
	margin-left:17.13em;
	height: 7.9em;
    width: 8.5em;
}


.dining{
	position: absolute;
	top:46.1em;
	margin-left:7.5em;
	height: 7.9em;
    width: 18.1em;
}
.carddeals{
	position: absolute;
	top:46.1em;
	margin-left:-1.20em;
	height: 7.9em;
    width: 8.53em;
}


.mutualfunds{
	position: absolute;
	top:54.1em;
	margin-left:-1.13em;
}




.donation{
	position: absolute;
	top:62.95em;
	margin-left:-1.13em;
	height: 7.9em;
    width: 18.2em;
}
.FXrates{
	position: absolute;
	top:62.95em;
	margin-left:17.13em;
	height: 7.9em;
    width: 8.5em;
}



.linetoday{
	position: absolute;
	top:71em;
	margin-left:-1.13em;
}


.youtellus{
	position: absolute;
	top:79.93em;
	margin-left:7.5em;
	height: 7.9em;
    width: 18.1em;
}
.contanctus{
	position: absolute;
	top:79.93em;
	margin-left:-1.20em;
	height: 7.9em;
    width: 8.53em;
}








































}